*{
    padding: 0;
    margin: 0;
}

body{
    background-color: aquamarine;
}
/**/
.barra_menu{
    margin-top: 45px;
    width: 100%;
}

.menu{
    width: 70%;
    margin-left: 15%;
}


main{
    margin-top: 25px;
    margin-left: 15%;
    margin-right: 15%;
}


h1{
    text-align: center;
    color: black;
}


.redes{
    display: grid;
    
}


article{
    width: 400px;
    height: 200px;
}