*{
    padding: 0;
    margin: 0;
}

/* body{
     background-color: #0D2542; 
} */
/****************** menu ************************/
/* .barra_menu{
    margin-top: 45px;
    width: 100%;
}

.menu{
    width: 70%;
    margin-left: 15%;
}

.enlace :hover{
    background-color: black;
    color: aliceblue;
} */

/***************** main **********************/
main{
    margin-top: 25px;
    margin-left: 15%;
    margin-right: 15%;
}


h1{
    text-align: center;
    color:#545658;
}


.redes{
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    justify-content: center;
    
}


article{
    width: 350px;
    height: 100px;
    margin: 50px;
}

/* footer{
    text-align: center;
    color: aliceblue;
} */

article a{
    font-size: 3rem;
    color: #545658 ;
}

.facebook :hover{
    color: #2c25f5;
}

.twitter :hover{
    color: #1B9FF1;
}

.instagram :hover{
    background: radial-gradient();
    color: #FCC55E;
}

.telegram :hover{
    color: #1B9FF1;
}